.breadcrumb-nav{
    display: none;
}
.booking-inner{
    max-width: 680px;
    border: 0;
    margin: 0 auto;
}
body .modern-search-form{
    border-radius: 0;
    box-shadow: none;
    align-items: center;
    padding: 10px;
    height: 52px;
}
body .modern-search-form .input1_inner{
    height: 52px;
}
body .modern-search-form .search-field .input1_inner{
    padding-left: 0;
}
body .modern-search-form .search-field, 
body .modern-search-form .date-field, 
body .modern-search-form .guest-field, 
body .modern-search-form .search-button{
    margin:0;
}
body .modern-search-form .guest-field{
    border:0;
}
body .modern-search-form .modern-search-btn{
    height: 35px;
    line-height: 1;
    font-weight: 400;
    
}
body .modern-search-form .search-button{
    align-items: center;
}
body .modern-search-form .input1_inner input, 
body .modern-search-form .input1_inner select{
    padding:0 0 0 8px;
}
body .search-form-section{
    padding: 15px 0;
    box-shadow: none;
}
.navbar{
    position: relative;
    background-color: var(--black-200);
}
.section-cta{
    background: url('/assets/img/ctaBanner.jpg');
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.section-cta::before{
    content: "";
    background: #000000;
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
}
.section-cta .btn{
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
}
.cta-content{
    display: flex;
    justify-content: space-between;
    height: 300px;
    align-items: center;
    z-index: 1;
    position: relative;
}
.cta-content_heading h3,
.cta-content_heading p{
    color: #fff;
    margin-bottom: 0;
    font-weight: 300;
    line-height: 1.2;
}
.cta-content_heading h3{
    font-size: 32px;
    margin-bottom: 15px;
}
.cta-content_buttons{
    display: flex;
    gap: 15px;
    align-items: baseline;
}

.section-membership{
    background: #DBE2D6;
    padding: 100px 0 30px;
}
.membership-content_heading{
    max-width: 490px;
    margin: 0 auto 150px;
}
.membership-content_heading img{
    max-width: 53px;
    margin-bottom: 20px;
}
.membership-content_heading h3{
    font-weight: 300;
    font-size: 32px;
}
.membership-content_heading .btn{
    text-transform: uppercase;
    font-size: 14px;
}
.membership-content_heading .btn:after{
    display: none;
}
.membership-content_foot p{
    font-size: 16px;
    font-weight: 300;
    line-height: 1.1;
    margin-bottom: 0;
}
.membership-content_foot p a{
    border-bottom: 1px solid;
}
.section-quote{
    background: #fff;
}
.section-text-center .global-form .form{
    padding-top: 0;
}
textarea.form-control{
    border: 1px solid #000;
    border-radius: 0;
}
.section-quote .btn{
    min-width: 200px;
}
.section-quote .btn:after{
    display: none;
}
.footer{
    padding-top:0;
    padding-bottom: 40px;
}
.footer-wrapper{
    padding-block: 80px;
}
.footer-wrapper,
.footer-menus{
    display: flex;
}

.footer-left{
    flex: 1;
    padding-right: 200px;
    padding-left: 150px;
}
.footer-menus{
    gap:10px;
}
.footer .footer-menus ul{
    gap: 10px;
    flex-direction: column;
    justify-content: flex-start;
    flex: 1;
    align-items: baseline;
    padding: 0;
}
.footer-menus ul li{
    line-height: 1;
}
.footer-subscribe{
    flex: 1;
    max-width: 400px;
}
.footer-subscribe p{
    font-size: 14px;
    color: #fff;
    margin-bottom: 0;
}
.footer-left h5,
.footer-subscribe h5{
    color: #fff;
    text-transform: none;
    font-weight: 600;
    font-size: 20px;
}
.footer-subscribe form{
    background: none;
    margin-block: 15px;
    padding: 0;
    gap: 15px;
}
.footer-subscribe form input{
    background: #808183;
    padding: 0 20px;
    color: #fff;
    font-size: 16px;
}
.footer-subscribe form input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #fff !important;
}
.footer-subscribe form input::-moz-placeholder { /* Firefox 19+ */
    color: #fff !important;
}
.footer-subscribe form input:-ms-input-placeholder { /* IE 10+ */
    color: #fff !important;
}
.footer-subscribe form input:-moz-placeholder { /* Firefox 18- */
    color: #fff !important;
}
.footer-subscribe form .btn{
    border: 1px solid;
    height: 49px;
    font-size: 16px;
}
.footer-subscribe form .btn:hover{
    background: #808183;
    border-color: #808183;
}
.footer-subscribe form .btn:after{
    display: none;
}
.footer-social{
    flex: 1;
    justify-content: end;
}
.section-hotel-content{
    padding-top: 80px;
}
.section-hotel-content .container{
    display: flex;
    gap: 50px;
    justify-content: space-between;
}

.hotel-content_left.no-benefits{
    max-width: none;
}
.hotel-content_heading{
    border-bottom: 1px solid #0000001A;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.hotel-content_heading h1{
    font-size: 40px;
    font-weight: 300;
    line-height: 1.1;
    margin-bottom: 0;
    max-width: 700px;
}
.hotel-content_heading h1 + span{
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 50px;
}
.hotel-content_heading p{
    font-size: 16px;
    margin-bottom: 0;
    padding-right: 100px;
}
.hotel-detail-page .breadcrumb-nav,
.hotel-info-list .info-card li:before,
.hotel-detail-page .section-membership{
    display: none;
}
.hotel-detail-page .hotel-content_sidebar .section-membership{
    display: block;
}
.hotel-content_sidebar .section-membership .membership-content_heading{
    max-width: 450px;
}
.hotel-content_sidebar{
    flex: 1;
    max-width: 472px;
    min-width: 472px;
}
.hotel-benefits{
    background: #DBE2D6;
    padding: 30px;
    width: 100%;
}
.hotel-benefits_heading{
    display: flex;
    margin-bottom: 30px;
    align-items: flex-start;
}
.hotel-benefits_heading h3{
    flex: 1;
    font-size: 32px;
    font-weight: 300;
    margin: 0;
    line-height: 1;
}
.hotel-benefits_heading img{
    max-width: 26px;
}
.hotel-benefits_cont .btn{
    font-size: 14.07px;
    text-transform: uppercase;
    margin-top: 80px;
}
.hotel-benefits_cont .btn:after{
    display: none;
}
.hotel-benefits_cont ul{
    padding:0;
}
.hotel-benefits_cont ul li{
    position: relative;
    padding-left: 20px;
    line-height: 1.2;
    font-weight: 300;
    padding-bottom: 10px;
}
.hotel-benefits_cont ul li:before{
    content: "";
    background: #000;
    width:9px;
    height:9px;
    position: absolute;
    left:0;
    top: 8px;
}
.view-btn{
    position: absolute;
    width: fit-content;
    background: #00000099;
    bottom:30px;
    right: 60px;
    color: #fff;
    text-transform: uppercase;
    font-size: 14.07px;
    line-height: 1;
    padding: 5px 10px;
}
.gallery-modal{
    display: none;
    position: fixed;
    background: #ffffff;
    padding: 60px;
    z-index: 999;
    top: 0;
    width: 100%;
    height: 100%;
}
.gallery-modal.open{
    display: block;
}
.close-modal{
    position: absolute;
    right: 30px;
    top: 30px;
    border: 0;
    font-size: 50px;
    line-height: 1;
}
.header-image-container{
    cursor: pointer;
    position: relative;
    z-index: 1;
}
.footnote-text{
    font-size: 14px;
}
.section-hotel-info .container{
    max-width: 1600px !important;
    border:0;
    padding-top: 0;
}

.hotel-info-list{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.hotel-info-list .info-card{
    flex: 1 1 calc(33.333% - 20px);
    max-width: calc(33.333% - 20px);
    display: flex;
    gap: 30px;
}
.hotel-details > div{
    display: flex;
    font-size: 16px;
    gap: 5px;
    font-weight: 300;
    align-items: baseline;
    line-height: 1.2;
    padding-bottom: 10px;
}
.hotel-details div p{
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.2;
}
.hotel-details div strong{
    font-weight: 700;
}
.info-card_icon{
    background: #DBE2D6;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 127px;
    min-width: 127px;
}
.info-card_icon img{
    max-height: 36px;
}
.hotel-info-list .info-card h5{
    font-size: 16px;
    font-weight: 500;
}
.hotel-info-list .info-card li,
.hotel-info-list p{
    font-size: 16px;
    font-weight: 300;
    line-height: 1.3;
}
.section-hotel-info h3{
    font-size: 32px;
    font-weight: 300;
    border-top: 1px solid #0000001A;
    padding-top: 80px;
    margin-top: 80px;
}
.section-related-hotels .container > h3{
    font-size: 32px;
    font-weight: 300;
    margin-bottom: 50px;
    border-top: 1px solid #0000001A;
    padding-top: 80px;
}
.hotel-content_details{
    display: flex;
    gap: 10px;
}
.hotel-groups-logos{
    padding: 30px;
    max-width: 170px;
}
.modal-hotel-gallery .thumbnail-image{
    max-height: calc(-50px + 85vh);
}
.signup-page{
    background: #DBE2D6;
    padding: 150px 0 250px;
}
.auth-card_heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}
.auth-card_heading img{
    max-height: 64px;   
    width: auto;
}
.auth-card_heading h3{
    font-size: 40px;
    font-weight: 300;
}
.auth-card form{
    max-width: 465px;
    margin: 0 auto;
}
.auth-card form input:not(.form-check-input){
   background: #fff;
   border-radius: 0;
   height: 53px;
   padding-inline: 20px;
   font-size: 14.07px;
   font-weight: 300;
   line-height: 1.2;
   margin-bottom: 10px;
   color: #000;
   width: 100%;
   outline: 0;
}
.auth-card form input#password{
    margin-bottom: 0;
}
.btn.show-password-btn{
    background: none;
    position: absolute;
    right: 20px;
    top: 38%;
    transform: translateY(-50%);
    color: #000;
    height: 53px;
    border: 0;
    padding: 0;
}
.auth-card form button[type="submit"]{
  height: 53px;
  text-transform: uppercase;
}
.btn.show-password-btn:after,
.auth-card form button[type="submit"]:after{
    display: none;
}
.form-group.mb-3{
    margin-bottom: 10px !important;
}
.auth-card form .row{
    margin-right: -5px;
    margin-left: -5px;
}
.auth-card form .col-md-6{
    padding-right: 5px;
    padding-left: 5px;
}
.form-check{
    display: flex;
    gap: 10px;
    align-items: center;
}
.form-check-label{
    font-size: 16px;
    font-weight: 300;
    line-height: 1.2;
    color: #000;
}
.login-page{
    background: #DBE2D6;
}
.login-page h2{
    font-size: 40px;
    font-weight: 300;
}
.login-page .col-lg-6:first-child{
    border-right: 1px solid #0000001A;
    padding-right: 180px;
}
.login-page .col-lg-6:last-child{
    padding-left: 180px;
}
.login-page form{
   margin-left: 0;
   max-width: 100%;
}
.login-page .sidebar{
    background: #fff;
    padding: 60px;
}
.login-page .sidebar img{
    max-height: 64px;
    width: auto;
    margin-bottom: 20px;
}
.login-page .sidebar h4{
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 10px;
}
.login-page .sidebar h3{
    font-size: 32px;
    font-weight: 300;
}
.login-page .sidebar .btn{
    font-size: 14.07px;
    text-transform: uppercase;
}
.login-page .sidebar .btn:after{
    display: none;
}
.form-check-input[type="checkbox"]{
   border-radius: 0;
}
.card-image:before,
.card_content .btn:after{
    display: none;
}
.card_content .btn{
    text-transform: uppercase;
    font-size: 14.07px;
}
.card_content h4{
    font-size: 24px;
    margin-bottom: 0;
}
.card_content h6{
    text-transform: none;
}
.card_content p{
    font-size: 14px;
}
.card-description .text-link{
    color: #000;
    font-weight: 700;
}
.card-description .text-link:hover{
    color: var(--gold) !important;
}
.hotel-result-row{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.hotel-result-row:not(:last-child){
    border-bottom: 1px solid #0000001A;
    padding-bottom: 40px;
    margin-bottom: 40px;
}
.hotel-card{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.hotel-card img{
    max-height: 279px;
}
.hotel-result-row .card-description{
    margin-bottom: 0;
}
.hotel-card .card-image{
    width: 40%;
    max-width: 473px;
}
.card_content{
    padding: 0 100px 0 40px;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
body .results-header p{
    font-size: 14px;
    color: #000;
    line-height: 1;
}
.page-header{
    background: none;
}
.page-header-content{
    margin-bottom: 30px;
}
.page-header-content h2{
    font-size: 40px;
    font-weight: 300;
    margin-bottom: 0;
}
.results-header h3{
    font-size: 32px;
    font-weight: 300;
}
.interests-filters,
.page-header:before, .page-header:after{
    display: none;
}

.hotel-header-gallery .slick-slide[data-slick-index="0"] .slider-overlay{
    left: 110px;
}
.ui-datepicker td span, .ui-datepicker td a{
    text-align: center;
}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus{
    width: 100%;
}
@media screen and (min-width:1024px) {
    .hotel-content_sidebar{
        margin-bottom: 50px;
    }
}
@media screen and (max-width:1200px){
    .footer-left{
        padding-right: 100px;
        padding-left: 100px;
    }
    .hotel-content_heading p{
        padding-right: 0;
    }
    .login-page .col-lg-6:first-child{
        padding-right: 100px;
    }
    .login-page .col-lg-6:last-child{
        padding-left: 100px;
    }
    .card_content{
        padding-right: 0;
    }
  
}
@media screen and (max-width:1023px){
    .hotel-info-list .info-card{
        flex-direction: column;
        gap: 10px;
    }
    .login-page .col-lg-6:first-child{
        padding-right: 0;
        padding-left: 0;
        border-right: 0;
    }
    .login-page .col-lg-6:last-child{
        padding-left: 0;
        padding-right: 0;
    }
  
}
@media screen and (max-width:991px) {
    .footer-wrapper{
        flex-direction: column;
        padding-block: 40px;
    }
    .footer-logo{
        margin-left: 0;
    }
    .footer-left{
        padding: 30px 0;
    }
    .footer-menus{
        flex-direction: column;
    }
    .footer-subscribe{
        max-width: none;
    }
    .footer-bottom,
    .footer-bottom ul{
        flex-direction: column;
        gap: 0;
        align-items: flex-start;
    }
    .footer a,
    .footer-subscribe p,
    .footer .copyright{
        font-size: 16px;
        color: rgba(255, 255, 255, .80);
    }
    .footer .copyright,
    .footer-bottom a{
        font-size: 15px;
    }
    .cta-content_heading{
        max-width: 300px;
    }
    .section-hotel-content,
   
    .section-related-hotels .container > h3 {
        padding-top: 30px;
    }
    .section-hotel-info h3{
        padding-top: 0;
        border-top: 0;
    }
    .section-hotel-content .container{
        flex-direction: column;
        gap: 0;
        padding:0;
    }
    .hotel-content_sidebar{
        max-width: none;
        min-width: 100%;
    }
    .hotel-content_left {
        padding: 0 calc(var(--bs-gutter-x) * .75);
    }
   
}

@media screen and (max-width:768px){
    .cta-content{
        flex-direction: column;
        text-align: center;
        gap: 20px;
        justify-content: center;
    }
    .cta-content_heading p{
        max-width: 200px;
        margin: 0 auto;
    }
    .hotel-info-list{
        gap:20px;
    }
    .signup-page{
        padding: 50px 0;
    }
    .login-page .col-lg-6:first-child,
    .login-page .col-lg-6:last-child{
        padding-right:calc(var(--bs-gutter-x) * .5);
        padding-left: calc(var(--bs-gutter-x) * .5);
    }
    .login-page h2{
        text-align: center;
    }
    .hotel-card{
        flex-direction: column;
    }
    .hotel-card .card-image,
    .card_content {
        width: 100%;
    }
    .card_content{
        padding: 20px 0 0;
    }
    .results-section{
        padding-top: 0;
    }
    .booking-inner{
        max-width: 100%;
    }
    .hotel-result-row:not(:last-child){
        padding-bottom: 25px;
    margin-bottom: 25px;
    }
   
}
@media screen and (max-width:640px) {
    .hotel-content_details{
        flex-direction: column;
    }
    .hotel-groups-logos{
        margin: 0 auto;
    }
    .hotel-info-list .info-card{
        max-width: calc(50% - 10px);
    }
    .auth-card_heading h3{
        font-size: 32px;
    }
    .header-image-container img{
        height: 370px !important;
    }
    body .modern-search-form{
        height: auto;
        flex-wrap: wrap;
    }
    body .modern-search-form .search-field,
    body .modern-search-form .search-button{
        width: 100% !important;
    }
    body .modern-search-form .date-field{
        width: 60% !important;
    }
    body .modern-search-form .guest-field{
        width: 40% !important;
    }
    body .modern-search-form .search-field{
        border: 0;
        border-bottom: 1px solid #e0e0e0;
    }
    .modern-search-form .date-field .input1_inner{
        padding-left: 0;
    }
}
@media screen and (max-width:480px){
    .cta-content_buttons{
        flex-direction: column;
        width:100%;
    }
    .cta-content_buttons .btn{
        width:100%;
    }
    .section-membership{
        padding-top: 50px;
    }
    .membership-content_heading{
        margin-bottom: 20px;
    }
    .section-text-center .global-form .form .d-grid{
        justify-content: flex-start;
    }
   
    .section-text-center form .btn{
        min-width: fit-content;
    }
    .hotel-groups-logos{
        max-width: none;
        padding:0;
       
    }
    .login-page form .justify-content-between{
        flex-direction: column;
        gap: 10px;
    }
    .login-page .auth-card form button[type="submit"]{
        width: 100%;
    }
    .login-page .sidebar h3{
        font-size: 28px;
    }
    .login-page .sidebar h4{
        font-size: 16px;
    }
    .gallery-modal{
        padding: 30px;
    }
    .close-modal{
        right: 40px;
        color: #fff;
        z-index: 999;
    }
}

/* Slider Overlay Styles */
.slider-overlay {
    position: absolute;
    bottom: 30px;
    left: 60px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    z-index: 2;
}
.hotel-header-gallery .hotel-header-gallery-item img{
    height: 100%;
}

.slider-content {
    color: #fff;
    padding: 20px;
    background: #222224;
    max-width: 445px;
}

.slider-content h2 {
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 10px;
    color: #fff;
    text-align: left;
    border-bottom: 1px solid #FFFFFF33;
    padding-bottom: 10px;
    line-height: 1.1;
}

.slider-content p {
    font-size: 18px;
    font-weight: 500;
    margin: 0;
    color: #fff;
    text-align: left;
    text-transform: uppercase;
    line-height: 1.1;
}
@media screen and (max-width: 1200px) {
    .slider-overlay{
        left:40px;
    }
}
@media screen and (max-width: 768px) {
    .slider-content h2 {
        font-size: 20px;
    }
    
    .slider-content p {
        font-size: 15px;
    }
    .page-header-content h2{
        font-size: 28px;
    }
    .slider-overlay{
        left:15px;
    }
    .hotel-header-gallery .slick-slide {
        height: 457px !important;
        margin-right: 0 !important;
    }
    .hotel-header-gallery .slick-track {
        gap: 20px;
    }
    .slider-content{
        max-width: 300px;
    }
    .hotel-header-gallery .slick-slide[data-slick-index="0"] .slider-overlay {
        left: 40px;
    }
}