.footer{
    padding-top:0;
    background: #222224;
    padding-bottom: 40px;
}
.footer-wrapper{
    padding-block: 80px;
}
.footer-wrapper,
.footer-menus{
    display: flex;
}

.footer-left{
    flex: 1;
    padding-right: 200px;
    padding-left: 150px;
}
.footer-menus{
    gap:10px;
}
.footer .footer-menus ul{
    gap: 10px;
    flex-direction: column;
    justify-content: flex-start;
    flex: 1;
    align-items: baseline;
    padding: 0;
}
.footer-menus ul li{
    line-height: 1;
}
.footer-subscribe{
    flex: 1;
    max-width: 400px;
}
.footer-subscribe p{
    font-size: 14px;
    color: #fff;
    margin-bottom: 0;
}
.footer-left h5,
.footer-subscribe h5{
    color: #fff;
    text-transform: none;
    font-weight: 600;
    font-size: 20px;
}
.footer-subscribe form{
    background: none;
    height: 49px;
    margin-block: 15px;
    padding: 0;
    gap: 15px;
}
.footer-subscribe form input{
    background: #808183;
    padding: 0 20px;
    color: #fff;
    font-size: 16px;
}
.footer-subscribe form input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #fff !important;
}
.footer-subscribe form input::-moz-placeholder { /* Firefox 19+ */
    color: #fff !important;
}
.footer-subscribe form input:-ms-input-placeholder { /* IE 10+ */
    color: #fff !important;
}
.footer-subscribe form input:-moz-placeholder { /* Firefox 18- */
    color: #fff !important;
}
.footer-subscribe form .btn{
    border: 1px solid;
    height: 49px;
    font-size: 16px;
}
.footer-subscribe form .btn:hover{
    background: #808183;
    border-color: #808183;
}
.footer-subscribe form .btn:after{
    display: none;
}
.footer-social{
    flex: 1;
    justify-content: end;
}

@media screen and (max-width:1200px){
    .footer-left{
        padding-right: 100px;
        padding-left: 100px;
    }
}
@media screen and (max-width:991px) {
    .footer-wrapper{
        flex-direction: column;
        padding-block: 40px;
    }
    .footer-logo{
        margin-left: 0;
    }
    .footer-left{
        padding: 30px 0;
    }
    .footer-menus{
        flex-direction: column;
    }
    .footer-subscribe{
        max-width: none;
    }
    .footer-bottom,
    .footer-bottom ul{
        flex-direction: column;
        gap: 0;
        align-items: flex-start;
    }
    .footer a,
    .footer-subscribe p,
    .footer .copyright{
        font-size: 16px;
        color: rgba(255, 255, 255, .80);
    }
    .footer .copyright,
    .footer-bottom a{
        font-size: 15px;
    }
}