.section-cta{
    background: url('/assets/img/slider/1.jpg');
    position: relative;
    overflow: hidden;
}
.section-cta::before{
    content: "";
    background: #000000;
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
}
.cta-content{
    display: flex;
    justify-content: space-between;
    height: 300px;
    align-items: center;
    z-index: 1;
    position: relative;
}
.cta-content_heading h3,
.cta-content_heading p{
    color: #fff;
    margin-bottom: 0;
    font-weight: 300;
    line-height: 1.2;
}
.cta-content_heading h3{
    font-size: 32px;
    margin-bottom: 15px;
}
.cta-content_buttons{
    display: flex;
    gap: 15px;
    align-items: baseline;
}

.section-membership{
    background: #DBE2D6;
    padding: 100px 0 30px;
}
.membership-content_heading{
    max-width: 450px;
    margin: 0 auto 150px;
}
.membership-content_heading img{
    max-width: 53px;
    margin-bottom: 20px;
}
.membership-content_heading h3{
    font-weight: 300;
}
.membership-content_heading .btn{
    text-transform: uppercase;
    font-size: 14px;
}
.membership-content_heading .btn:after{
    display: none;
}
.membership-content_foot p{
    font-size: 16px;
    font-weight: 300;
    line-height: 1.1;
    margin-bottom: 0;
}
.membership-content_foot p a{
    border-bottom: 1px solid;
}
.footer{
    padding-top:0;
    padding-bottom: 40px;
}
.footer-wrapper{
    padding-block: 80px;
}
.footer-wrapper,
.footer-menus{
    display: flex;
}

.footer-left{
    flex: 1;
    padding-right: 200px;
    padding-left: 150px;
}
.footer-menus{
    gap:10px;
}
.footer .footer-menus ul{
    gap: 10px;
    flex-direction: column;
    justify-content: flex-start;
    flex: 1;
    align-items: baseline;
    padding: 0;
}
.footer-menus ul li{
    line-height: 1;
}
.footer-subscribe{
    flex: 1;
    max-width: 400px;
}
.footer-subscribe p{
    font-size: 14px;
    color: #fff;
    margin-bottom: 0;
}
.footer-left h5,
.footer-subscribe h5{
    color: #fff;
    text-transform: none;
    font-weight: 600;
    font-size: 20px;
}
.footer-subscribe form{
    background: none;
    height: 49px;
    margin-block: 15px;
    padding: 0;
    gap: 15px;
}
.footer-subscribe form input{
    background: #808183;
    padding: 0 20px;
    color: #fff;
    font-size: 16px;
}
.footer-subscribe form input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #fff !important;
}
.footer-subscribe form input::-moz-placeholder { /* Firefox 19+ */
    color: #fff !important;
}
.footer-subscribe form input:-ms-input-placeholder { /* IE 10+ */
    color: #fff !important;
}
.footer-subscribe form input:-moz-placeholder { /* Firefox 18- */
    color: #fff !important;
}
.footer-subscribe form .btn{
    border: 1px solid;
    height: 49px;
    font-size: 16px;
}
.footer-subscribe form .btn:hover{
    background: #808183;
    border-color: #808183;
}
.footer-subscribe form .btn:after{
    display: none;
}
.footer-social{
    flex: 1;
    justify-content: end;
}

@media screen and (max-width:1200px){
    .footer-left{
        padding-right: 100px;
        padding-left: 100px;
    }
}
@media screen and (max-width:991px) {
    .footer-wrapper{
        flex-direction: column;
        padding-block: 40px;
    }
    .footer-logo{
        margin-left: 0;
    }
    .footer-left{
        padding: 30px 0;
    }
    .footer-menus{
        flex-direction: column;
    }
    .footer-subscribe{
        max-width: none;
    }
    .footer-bottom,
    .footer-bottom ul{
        flex-direction: column;
        gap: 0;
        align-items: flex-start;
    }
    .footer a,
    .footer-subscribe p,
    .footer .copyright{
        font-size: 16px;
        color: rgba(255, 255, 255, .80);
    }
    .footer .copyright,
    .footer-bottom a{
        font-size: 15px;
    }
    .cta-content_heading{
        max-width: 300px;
    }
}

@media screen and (max-width:768px){
    .cta-content{
        flex-direction: column;
        text-align: center;
        gap: 20px;
        justify-content: center;
    }
    .cta-content_heading p{
        max-width: 200px;
        margin: 0 auto;
    }
   
}
@media screen and (max-width:480px){
    .cta-content_buttons{
        flex-direction: column;
        width:100%;
    }
    .cta-content_buttons .btn{
        width:100%;
    }
    .section-membership{
        padding-top: 50px;
    }
    .membership-content_heading{
        margin-bottom: 20px;
    }
}